html, body {
    background-color: black;
}

body {
    margin:0;
    padding:0;

    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: auto;
}

#bite {
    width: 500px;
    height: auto;
    transform: translateY(-50px);
}

#request-interact {
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 2em;
}